# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
*.env

**/**/dev.yml

# Build & packaging
build/
dist/
*.egg-info/

# Test & coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# IDE
.vscode/
.idea/

# macOS
.DS_Store

**/**/dev.md
db/